.text{
	margin: auto;
	font-family: "Trebuchet MS";
    text-align:justify;
    width: 60%;
}
body{
	background-color: #fff;
	background-attachment: fixed;
	font-family: Lucida Sans Unicode;
}

#chart_div{
	margin-top: 500px;
    margin-bottom: 500px;
    margin-right: 150px;
    margin-left: 80px;
}

#logo{
	margin-top: 100%;
    margin-bottom: 100%;
    margin-right: 100%;
    margin-left: 100%;
}
