.text{
	margin: auto;
	font-family: 'Quicksand:700', sans-serif;
    text-align:justify;
    width: 60%;
}
body{
	background-color: #fff;
	background-attachment: fixed;
	font-family: 'Quicksand:700', sans-serif;
}

#chart_div{
	margin-top: 50%;
    margin-bottom: 50%;
    margin-right: auto;
    margin-left: auto;
}

#logo{
	margin-top: 50%;
    margin-bottom: 50%;
    margin-right: auto;
    margin-left: auto;
}
