.countMusic{
	text-align: center;
}

#logo{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#mainNav{
	text-align: center;
}
#menuList{
	margin-left: auto;
	margin-right: auto;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}
footer{
	text-align: center;
	color: gray;
	font-size: 10px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	}
.text{
	margin: auto;
	font-family: "Trebuchet MS";
    text-align:justify;
    width: 60%;

}
.arbetstabell{
	font-family: "Trebuchet MS";
	margin-left: 40%;
}
ul{
	list-style-type: none
}

/* Färgsättning och beteende för oklassifierade länkar */
a:link{
	color: black;
	text-decoration: none;
}
a:visited{
	color: black;
	text-decoration: none;
}
a:hover{
	color: black;
	text-decoration: none;
}
/* Färgsättning och beteende för länken "Arbeten" */
a.arbeten:link{
	color:#fd9c8e;
}
a.arbeten:visited{
	color:#fd9c8e;
}
a.arbetenlank:hover{
	color:#fd9c8e;
}
/* --- */
/* Färgsättning och beteende för länken "Om" */
a.om:link{
	color:#7fda95;
}
a.om:visited{
	color:#7fda95;
}
a.omlank:hover{
	color:#7fda95;
}
/* --- */
/* Färgsättning och beteende för länken "Kontakt" */
a.kontakt:link{
	color:#f0e15c;
}
a.kontakt:visited{
	color:#f0e15c;
}
a.kontaktlank:hover{
	color:#f0e15c;
}
/* --- */
span.center {
	display: block;
    text-align: center;
	font-family: "Trebuchet MS";
}
nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}
nav ul { 
	list-style: none;
	position: relative;
	display: inline-table;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}
form{
	text-align: center;
}
#canvas{
	cursor: crosshair;
	margin-right: auto;
	margin-left: auto;
	display: block;
	border: 2px solid #000000;
}
#spelCanvas{
	cursor: crosshair;
	margin-right: auto;
	margin-left: auto;
	display: block;
	border: 2px solid #000000;
}
.button{
	height: 30px;
    width: 30px;
    border: none;
  }
.buttonBlk {
	background: black;
}
	
.buttonPnk {
    background: #fd9c8e;
}	
.buttonGrn {

    background: #7fda95;
}	
.buttonYlw {
    background: #f0e15c;
}
.resetButton{
	height: 30px;
	width: 30px;
	background: none;
	border: 1px solid;
}
.upsizeButton{
	height: 30px;
	width: 30px;
	background: none;
	border: 1px solid;
}
.downsizeButton{
	height: 30px;
	width: 30px;
	background: none;
	border: 1px solid;
}
.colorBtnWrapper{
    text-align:center;
}
hr{
	width:70%
}
.rosa{
	border-color: #fd9c8e;
	border-style: solid;
	background-color: #fd9c8e;
	color: #fd9c8e;
}
.gron{
	border-color: #7fda95;
	border-style: solid;
	background-color: #7fda95;
	color: #7fda95;
}
.gul{
	border-color: #f0e15c;
	border-style: solid;
	background-color: #f0e15c;
	color: #f0e15c;
}

#sourcetext{
    padding-top: 5%;
    text-align: left;
    font-size: small;
}
